   {% extends "base.html" %} 
{% block title %} 
        Скачать результат приемки {{object.name}}
{% endblock %} 
{% block content %}


<div class="row justify-content-center">  <!--  Создаем строку, выравниваем ее по центру -->
  <div class="col-md-10">  <!--  Карточка в 6 колонках -->
    <div class="card mb-3 card text-white bg-dark mb-3">
      <div class="card-header text-white bg-dark mb-3 text-center">
        Результат приемки {{object.name}}
      </div>
        <div class="card-body ">
          <div class="card-header mb-3">
            Документ: {{object.name}}
          </div>
          <div class="card-header mb-3">
            Slug: {{object.slug}}
          </div>
          <div class="card-header mb-3">
            Создано: {{object.created_at}}
          </div>
        <form method="post">
            {% csrf_token %}
            {% comment %} <p>Вы уверены, что хотите удалить документ приемки"{{ object.name }}"?</p>
            <button type="submit" class="btn btn-danger btn-sm">Удалить</button>
            <a class="btn btn-success btn-sm" href="{% url 'purchaseorder:doc_list' %}">Назад</a>
           </form> {% endcomment %}
           
        </div>
    </div>
  </div>
</div> 

{%include "includes/paginator.html" %}
{% endblock %}
