{% extends "base.html" %}
{% block title %}
  Список заказов из моего склада
{% endblock %}
{% block content %}
  <a class="btn btn-dark btn" href="{% url 'purchaseorder:doc_list' %}">Список созданых документов</a>
  <br><br>
  <div class="card text-center">
    <div class="card-header"><h5>Заказы в "Моем складе"</h5></div> <div class="card-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Название</th>
            <th scope="col">Агент</th>
            <th scope="col">Сумма Руб</th>
            <th scope="col">Дата создания</th>
            <th scope="col">Просмотр</th>
          </tr>
        </thead>
        <tbody>
          {% for i in order_list %}
          <tr>
            <td>{{ i.name }}</td>
            <td>{{ i.agent.name }}</td>
            <td>{{ i.sum|floatformat:2 }}</td>
            <td>{{ i.created }}</td>
            <td><a class="btn btn-dark btn-sm" href="{% url 'purchaseorder:order' i.id %}">Открыть</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
