{% extends "base.html" %}
{% block title %}
  Просмотр документа {{number.name}}
{% endblock %}
{% block content %}
  <h1>Заказ {{number.name}} </h1>
  <h3>Позиций в заказе: {{ positions_quantity }} </h3>
  <br>
  <form method="POST" action="{% url 'purchaseorder:create_doc' number.id %}">
    {% csrf_token %}
    <input type="hidden" id="api_data" name="api_data">
    <button type="submit" class="btn btn-primary">Создать документ</button>
</form>
  <br>
  <table class="table table-sm table-striped">
    <thead>
      <tr>
        <th scope="col">№</th>
        <th scope="col">Название</th>
        <th scope="col">Код</th>
        <th scope="col">Баркод</th>
        <th scope="col">Сумма</th>
        <th scope="col">Заказано шт</th>
      </tr>
    </thead>
    <tbody>
      {% for i in context %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ i.assortment.name }}</td>
        <td>{{ i.assortment.code }}</td>
        <td>{{ i.assortment.barcodes }}</td>
        <td>{{ i.price }}</td>
        <td>{{ i.quantity|floatformat:0 }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}