{% extends "base.html" %}
{% block title%}
Товар №{{ object.id }}
{% endblock title %}
{% block content %}
<form method="POST" action="{% url 'purchaseorder:product_detail_update' object.product_id %}">
  {% csrf_token %}
  <button type="submit" class="btn btn-dark btn">Обновить товар</button>
</form>
<div class="row justify-content-center">
  <div class="col-md-10">
    <div class="card mb-3 card text-white bg-dark mb-3">
      <div class="card-header text-white bg-dark mb-3 text-center">
        ID товара: {{ object.id }}
      </div>
      <div class="card-body text-white bg-dark mb-3 d-flex flex-column">
        <img src="{{ MEDIA_URL }}{{ object.image }}" class="card-img-top"> 
        <hr>
        <h5>
          Наименование:<br> 
          <h5>{{ object.name }} <hr>
          Штрих-коды: <br> {{ object.barcodes }}
          <hr>
          Артикул:<br> {{ object.article }} <br>
          <hr>
          Код:<br>
          {{ object.code }}
          <hr>
          Номер ячейки:<br>
          {{ object.cell_number }}</h5>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
