{% extends "base.html" %}
{% load static %}
{% load django_bootstrap5 %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-10">
    <div class="card mb-3 card text-white bg-dark mb-3">
  <div class="card-header text-white bg-dark mb-3 text-center">
    ID записи: {{ object.id }}
  </div>
  <div class="card-body text-white bg-dark mb-3">
    Штрих-код: <br> {{ object.barcode }}
    <hr>
    Наименование:<br> {{ object.title }} <hr>
    Аннотация:<br> {{ object.annotacion }} <br>
    <hr>
    Список моделей:<br>
    {{ object.model_list }}
  </div>
</div>
</div>
</div>

    <a class="btn btn-success btn-sm" href="{% url 'pages:home' %}{{object.xcel_shablon}}"  download>Скачать шаблон</a>
    <a class="btn btn-dark btn-sm" href="{% url 'ozon:edit' object.id %}">Редактировать</a>
{% endblock content %}