{% extends "base.html" %}
{% load static %}
{% load django_bootstrap5 %}

{% block content %}
  {% if Ozon.image %}
    <div>
      <!-- Картинку сделаем побольше, чем на странице list/: высотой 200px -->
      <img src="{{ Ozon.image.url }}" height="200">
    </div>
  {% endif %}
  <div 'col-5'>
   <h2>ID записи: {{ object.id }}</h2>
   Баркод: {{ object.barcode }}
   <hr>
   Название: {{ object.title }} <hr>
   Аннотация: {{ object.annotacion }} <hr>
    <a class="btn btn-success btn-sm" href="http://127.0.0.1:8000/{{object.xcel_shablon}}" download>Скачать шаблон</a>
    <a class="btn btn-primary btn-sm" href="{% url 'ozon:edit' object.id %}">Редактировать</a>
  </div>
{% endblock content %}