{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block title %}
  Работа с шаблонами OZON
{% endblock %}

{% block content %}
<a class="btn btn text-muted" href="{% url 'ozon:list' %}">Список обработанных шаблонов</a> 
<a class="btn btn text-muted" href="{% url 'ozon:formatter' %}">Форматирование текста</a> 

<br><br>

<div class="row justify-content-center"> 
  <div class="col-md-8">
    <div class="card text-white bg-dark mb-3 text-center">
      <div class="card-header">
        Шаблон OZON
      </div>
      <div class="card-body">
        <form method='get' enctype="multipart/form-data" id='form1'>
          {% bootstrap_form search_form %}
          <div class="btn-group-vertical w-100"> 
          {% bootstrap_button button_type="submit" content="Искать" %}
          </div>
          {% if  select_categories  %}
            {% bootstrap_form select_categories %}
          <div class="btn-group-vertical w-100"> 
            {% bootstrap_button button_type="submit" content="Выбрать" %}
          </div>
        </form>
        {% endif %}
      </div>
    </div>
    <div style="display: flex; justify-content: center;"> 
      <a class="btn btn text-muted" href="{% url 'ozon:formatter' %}">Форматирование текста</a> 
    </div>
</div>
</div>

{% endblock %}