{% load static %}

<header>
  <nav class="navbar navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="{% url 'pages:home' %}">
        <img src="{% static 'img/logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
        Инструменты для склада
      </a>
      {% with request.resolver_match.view_name as view_name %}        
        <ul class="nav nav-pills">
          <li class="nav-item">              
            <a class="nav-link btn btn-light {% if view_name == 'pages:home' %} active {% endif %}" href="{% url 'pages:home' %}">
              Главная
            </a>
          </li>
          <li class="nav-item">              
            <a class="nav-link btn btn-light {% if view_name == 'ozon:form' %} active {% endif %}" href="{% url 'ozon:form' %}">
              Обработка шаблона
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn btn-light {% if view_name == 'purchaseorder:doc_list' %} active {% endif %}" href="{% url 'purchaseorder:doc_list' %}">
              Документы приемок
            </a>
          </li>
        </ul>
      {% endwith %}      
    </div>
  </nav> 
</header>

<style>
  .nav-link {
    background-color: dark; /* Черный цвет для неактивных */
    color: white;
  }
  .nav-link.active {
    background-color: white !important; /* Белый цвет для активных */
    color: black !important; /* Черный цвет текста для активных */
  }
  .nav-link:hover {
    color: gray; /* Серый цвет текста при наведении */
  }
</style>